<!DOCTYPE html>
<html>
  <head>
    <title>Erabanai</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <% if current_user %>
        <%= link_to "登録内容を編集", edit_user_path(current_user.id) %>
        <%= link_to "検索ページ", search_index_path %>
        <%= link_to "マイページ", users_mypage_path%>
        <%= link_to "ログアウト", :logout, method: :post %>
      <% else %>
        <%= link_to "登録", new_user_path %> |
        <%= link_to "検索ページ", search_index_path %>
        <%= link_to "ログイン", :login %>
      <% end %>
    </nav>
    <%= yield %>
    <footer class="bg-dark u-content-space-top pb-4" role="footer"> 
    </footer>
  </body>
</html>
